* {
  font-family: "Nunito Sans", sans-serif;
}

.login {
  &__toRegistration {
    color: var(--main-color);
  }
  &__toForgot {
    position: relative;
    left: 85px;
    top: -5px;
  }
  &__form {
    margin-top: 90px;
  }
  &__button {
    margin-top: 150px;
  }
  &__error {
    position: absolute;
    top: 450px;
    &_icon {
      position: absolute;
      left: 2px;
      top: 5px;
    }
  }
}

.input {
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
