* {
  font-family: "Nunito Sans", sans-serif;
}

.login {
  &__wrapper {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 600px;
    min-width: 370px;
    background-color: white;
    border-radius: 15px;
  }
  &__title {
    color: #3949ab;
    font-weight: 900;
    margin-top: 32px;
  }
  &__subtitle {
    color: #3949ab;
    font-weight: 400;
    margin-bottom: 50px;
  }
  &__toRegistration {
    margin-top: 180px;
  }
  &__toForgot {
    position: relative;
    left: 85px;
    top: -5px;
  }
}


.input {
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
