.customButton {
  background: #3949ab;
  border: none;
  border-radius: 40px;
  width: 330px;
  height: 35px;
  cursor: pointer;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

.customButton:disabled {
  background: grey;
  border: none;
  border-radius: 40px;
  width: 330px;
  height: 35px;
  cursor: not-allowed;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}
