.layout {
  &__container {
    background: url(../../assests/img/background.png) no-repeat center center
      fixed;
    background-size: cover;
    min-height: 100vh;
  }
}
.logoIcon {
  position: absolute;
  top: 15%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  z-index: 1;
}
