.mainpage {
  &__container {
    background: url(../../assests/img/Background-mainpage.png) no-repeat center
      center fixed;
    background-size: 100% auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }
  &__wrapper {
    background: white;
    width: 1200px;
    margin-top: 85px;
  }
  &__entrancePhoto {
   width: 1200px;
   display: flex;
   flex-direction: column;
  }

}
