.mainpage {
  &__container {
    background: url(../../assests/img/Background-mainpage.png);
    background-size: 100% auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }
  &__wrapper {
    background: linear-gradient(
      180deg,
      #f8f8f8 0%,
      #dddddf 51.35%,
      #acacac 100%
    );
    width: 1200px;
    margin-top: 85px;
  }
  &__photoContainer {
    position: relative;
    text-align: center;
  }
  &__entrancePhoto {
    width: 1200px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-weight: 900;
  }
  &__subtitle {
    font-weight: 400;
  }
  &__text {
    font-weight: 400;
  }
  &__textContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  &__textBlock {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 70px;
    border: 1px solid #ffffff;
  }
  &__subtext {
    color: #3949ab;
    font-weight: 900;
    font-size: 36px;
    margin-top: 90px;
    margin-left: 25px;
  }
}

.cathedral {
  width: 285px;
  height: 400px;
  cursor: pointer;
}
.monument {
  width: 400px;
  height: 400px;
  cursor: pointer;
}

.cabelcar {
  width: 400px;
  height: 400px;
  cursor: pointer;
}
