.header {
  &__container {
    background: url(../../assests/img/Background-header.png);
    background-size: cover;
    min-height: 5vh;
    min-width: 100vw;
    position: fixed;
  }

  &__logout {
    background: none;
    border: none;
    cursor: pointer;
  }
  &__burgerMenu {
    border: none;
    background: none;
    cursor: pointer;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__ulLogo {
    list-style-type: none;
  }
  &__ulIcons {
    list-style-type: none;
  }

}
